@import 'base'
@import 'variables'


body
 background-image: url('../img/fon_top.gif')
 background-repeat: no-repeat
 background-size: 1920px auto

.container
  margin: auto
  width: max-content



.top_nav
 margin-top: 90px
 width: 1170px
 color: $white
 font-family: Poppins
 font-size: 33.5px
 font-weight: 600
 line-height: 1.45
 &_menu
   margin-left: 37px
   list-style: none
   padding: 0  
   display: flex
   font-family: Poppins
   font-size: 20px
   font-weight: normal
   li
     margin-right: 37px
     a 
       text-decoration: none 
       color: $white
 .button
   display: flex
   background-color: $white
   width: 242px
   height: 76px
   border-radius: 38px
   cursor: pointer
   .text_button
     display: flex
     justify-content: center
     align-items: center
     margin: auto
     font-family: Montserrat
     font-size: 25.5px
     line-height: 1.49
     color: $button_color
.opisanie
 width: 1275px
 margin-left: -102px
 .zagolovok
   margin-top: 229px
   width: 592px
   color: $white
   font-family: Montserrat
   font-size: 46px
   font-weight: 600
   line-height: 1.35
   text-align: right
 .text
   width: 591px
   margin-top: 14px
   color: $white
   font-family: Poppins
   font-size: 20px
   line-height: 1.8
   text-align: right
   margin-bottom: 75px
 .col-md-auto_link
   margin-right: 18px
   margin-top: 0px
   margin-bottom: 0px
   background-color: $link_color
   width: 230px
   height: 81px
   border-radius: 40px
   cursor: pointer
   .col-md-auto_icons
     margin-left: 62px
     margin-top: 11px
   .row_text
     width: 90px
     margin-right: 62px
     .col-md-auto_text_top
       margin-top: 11px
       color: $white
       font-family: Poppins
       font-size: 13.5px
       line-height: 2.56
       text-align: left
     .col-md-auto_text_bottom
       margin-top: -6px
       color: $white
       font-family: Montserrat
       font-size: 19px
       font-weight: 600
       line-height: 1.39
       text-align: left
.about_the_app
  margin-left: 129px
  .header_app
   margin-top: -10px
   color: $text_header
   font-family: Montserrat
   font-size: 36px
   font-weight: 500
   line-height: 1
   text-align: center
   
  .text_app
   margin-top: 42px
   margin-bottom: 79px
   color: $text_color
   font-family: Poppins
   font-weight: 400
   font-size: 20px
   line-height: 1.8
   text-align: center
.href_menu
  width: 1200px
  .support
    position: relative
    width: 358px
    height: 391px
    margin-right: 16px
    box-shadow: 0.7px 1.9px 19.6px 0.4px rgba(34, 31, 31, 0.2)
    .image
     display: flex
     position: absolute
     left: 131px
     top: 55px
     width: 96px
     height: 95px
     background-color: #f3f5f8
     border-radius: 5px
     transform: rotate(45deg)
     
       
     .icon
      display: flex
      justify-content: center
      align-items: center
      margin: auto
      transform: rotate(-45deg)
      cursor: pointer
    .header_support
     padding-top: 182px
     font-family: Montserrat
     font-size: 24px
     font-weight: 400
     line-height: 1.5
     color: $text_header
     font-weight: bold
     text-align: center
          
    .text_support
      padding-left: 26px
      padding-right: 26px 
      padding-top: 24px     
      font-family: Poppins
      font-size: 16px
      font-weight: 400
      line-height: 1.88
      color: $text_color
      text-align: center
     
.functions
 background-image: url('../img/image-2.gif')
 background-repeat: no-repeat
 background-size: 1920px 1297px
 padding-top: 1844px
 
  


       




  
     
     





  



