body {
  background-image: url("../img/fon_top.gif");
  background-repeat: no-repeat;
  background-size: 1920px auto;
}

.container {
  margin: auto;
  max-width: none;
}

.top_nav {
  margin: auto;
  padding-top: 90px;
  width: 1170px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 33.5px;
  font-weight: 600;
  line-height: 1.45;
}

.top_nav_menu {
  margin-left: 37px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
}

.top_nav_menu li {
  margin-right: 37px;
}

.top_nav_menu li a {
  text-decoration: none;
  color: #ffffff;
}

.top_nav .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  width: 242px;
  height: 76px;
  border-radius: 38px;
  cursor: pointer;
}

.top_nav .button .text_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: Montserrat;
  font-size: 25.5px;
  line-height: 1.49;
  color: #4085f6;
}

.opisanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.opisanie .zagolovok {
  margin-top: 220px;
  width: 683px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 600;
  line-height: 1.35;
  text-align: right;
}

.opisanie .text {
  width: 683px;
  margin-top: 26px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  line-height: 1.8;
  text-align: right;
  margin-bottom: 75px;
}

.opisanie .block_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 495px;
  margin-right: 5px;
}

.opisanie .block_links .col-md-auto_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #22233a;
  width: 230px;
  height: 81px;
  border-radius: 40px;
  cursor: pointer;
}

.opisanie .block_links .col-md-auto_link .col-md-auto_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
}

.opisanie .block_links .col-md-auto_link .col-md-auto_textLink {
  width: 90px;
  height: 80px;
  padding-top: 8px;
}

.opisanie .block_links .col-md-auto_link .col-md-auto_textLink .link_text_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: Poppins;
  font-size: 13.5px;
  line-height: 2.56;
  text-align: left;
}

.opisanie .block_links .col-md-auto_link .link_text_bottom {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.39;
  text-align: left;
}

.about_the_app .header_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
  color: #5d5d5d;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}

.about_the_app .text_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 79px;
  width: 913px;
  color: #737373;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

.href_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-bottom: 90px;
  width: auto;
}

.href_menu .support {
  position: relative;
  width: 358px;
  height: 391px;
  margin-right: 16px;
  -webkit-box-shadow: 0.7px 1.9px 19.6px 0.4px rgba(34, 31, 31, 0.2);
          box-shadow: 0.7px 1.9px 19.6px 0.4px rgba(34, 31, 31, 0.2);
}

.href_menu .support:hover .image {
  background-color: #4085f6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.href_menu .support:hover .image .icon1 {
  background: url("../img/nausniki_hover.gif");
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.href_menu .support:hover .image .icon2 {
  background: url("../img/zamok_hover.gif");
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.href_menu .support:hover .image .icon3 {
  background: url("../img/download_hover.gif");
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.href_menu .support:hover .header_support {
  color: #4085f6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.href_menu .support .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 131px;
  top: 55px;
  width: 96px;
  height: 95px;
  background-color: #f3f5f8;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.href_menu .support .image .icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  background: url("../img/nausniki.gif");
  width: 32px;
  height: 37px;
}

.href_menu .support .image .icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  background: url("../img/zamok.gif");
  width: 30px;
  height: 34px;
}

.href_menu .support .image .icon3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
  background: url("../img/download.gif");
  width: 30px;
  height: 28px;
}

.href_menu .support .header_support {
  padding-top: 182px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #5d5d5d;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.href_menu .support .text_support {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #737373;
  text-align: center;
}

.functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/image-2.gif");
  background-repeat: no-repeat;
  background-size: auto;
  height: 1297px;
  margin-bottom: 100px;
}

.functions .header_features {
  padding-top: 84px;
  margin: auto;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.functions .text_features {
  padding-top: 35px;
  padding-bottom: 94px;
  margin: auto;
  width: 913px;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

.functions .col-md-auto_imageTel2 {
  margin-right: 164px;
}

.functions .col-md-auto_options .option_features {
  margin-bottom: 61px;
}

.functions .col-md-auto_options .col-md-auto_imageOption {
  cursor: pointer;
}

.functions .col-md-auto_options .col-md-auto_wordOption {
  margin-left: 37px;
}

.functions .col-md-auto_options .col-md-auto_wordOption .nameOption {
  margin-top: -10px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  text-align: left;
}

.functions .col-md-auto_options .col-md-auto_wordOption .textOption {
  padding-top: 15px;
  width: 554px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #ffffff;
  text-align: left;
}

.price {
  background-size: auto;
  height: 966px;
  background-color: #f8f6f6;
}

.price .header_price {
  padding-top: 82px;
  color: #5d5d5d;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.price .text_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 43px;
  padding-bottom: 94px;
  width: 913px;
  color: #737373;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

.price .col-md-auto_tarif {
  width: 366px;
  height: 507px;
  margin-right: 18px;
  margin-left: 18px;
  border-radius: 20px;
  -webkit-box-shadow: 0.7px 1.9px 5.6px 0.4px rgba(34, 31, 31, 0.24);
          box-shadow: 0.7px 1.9px 5.6px 0.4px rgba(34, 31, 31, 0.24);
  border: 2px solid #226be2;
}

.price .col-md-auto_tarif:hover {
  height: 557px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#4085f6), to(#1760d7));
  background-image: linear-gradient(to left, #4085f6, #1760d7);
  margin-top: -25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.price .col-md-auto_tarif:hover .tarif_plan {
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.price .col-md-auto_tarif:hover .tarif_price {
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.price .col-md-auto_tarif:hover .limited_header {
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.price .col-md-auto_tarif:hover .limited_list .checkbox-custom,
.price .col-md-auto_tarif:hover .limited_list .label {
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.price .col-md-auto_tarif:hover .limited_list .checkbox:checked + .checkbox-custom::before {
  content: url("../img/check_hover.gif");
}

.price .col-md-auto_tarif .tarif_plan {
  padding-top: 33px;
  color: #5d5d5d;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.price .col-md-auto_tarif .tarif_price {
  padding-top: 24px;
  color: #4085f6;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.price .col-md-auto_tarif .limited_header {
  padding-top: 22px;
  color: #5d5d5d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  text-align: center;
}

.price .col-md-auto_tarif .limited_list {
  margin-top: 35px;
}

.price .col-md-auto_tarif .limited_list .checkbox {
  display: none;
}

.price .col-md-auto_tarif .limited_list .checkbox-custom {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #e05809;
}

.price .col-md-auto_tarif .limited_list .checkbox-custom,
.price .col-md-auto_tarif .limited_list .label {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  color: #737373;
}

.price .col-md-auto_tarif .limited_list .checkbox:checked + .checkbox-custom::before {
  content: url("../img/check.gif");
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}

.price .col-md-auto_tarif .button_purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  margin-left: 81px;
  background-color: #f8f6f6;
  width: 205px;
  height: 55px;
  border-radius: 27px;
  cursor: pointer;
  border: 2px solid #226be2;
}

.price .col-md-auto_tarif .button_purchase .text_button_purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  color: #4085f6;
}

.header_screenshots {
  margin-top: 185px;
  color: #5d5d5d;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.text_screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 51px;
  width: 798px;
  color: #737373;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

.data_input {
  width: auto;
  height: 712px;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: auto;
}

.data_input .header_hello {
  padding-top: 80px;
  margin-left: 22.5px;
  color: #3b3b3b;
  font-family: Raleway;
  font-size: 39px;
  font-weight: 600;
  line-height: 0.4;
  text-align: center;
}

.data_input .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: url("../img/line.gif");
  margin: auto;
  padding-top: 24px;
}

.data_input .text_hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 64px;
  margin: auto;
  width: 524px;
  color: #3b3b3b;
  font-family: Poppins;
  font-weight: 300;
  font-size: 14.5px;
  line-height: 1.72;
  letter-spacing: 0.1px;
  text-align: center;
}

.data_input .contact_information {
  width: 379px;
  height: 313px;
  background-color: #ffffff;
}

.data_input .contact_information .col-md-auto_icon_location {
  margin-left: 37px;
  margin-top: 46px;
}

.data_input .contact_information .col-md-auto_data_location {
  width: 200px;
  height: 53px;
  margin-left: 14px;
  margin-top: 38px;
  margin-bottom: -10px;
}

.data_input .contact_information .col-md-auto_data_location .word_location {
  color: #3b3b3b;
  font-family: Poppins;
  font-size: 17.5px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0.18px;
  text-align: left;
}

.data_input .contact_information .col-md-auto_data_location .location {
  cursor: pointer;
  font-family: Poppins;
  font-size: 15.5px;
  font-weight: 300;
  line-height: 2.26;
  color: #585858;
  text-align: left;
}

.data_input .input_data_name {
  width: 743px;
  height: 48px;
  background-color: #ffffff;
  margin-left: -17px;
  margin-bottom: 27px;
}

.data_input .input_data_name .input_name {
  width: 743px;
  height: 48px;
  margin-left: 12px;
  outline: none;
  cursor: pointer;
  text-decoration: unset;
  border: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 15.5px;
  line-height: 2.26;
  letter-spacing: 0.2px;
}

.data_input .input_data_email {
  width: 743px;
  height: 48px;
  background-color: #ffffff;
  margin-left: -17px;
  margin-bottom: 27px;
}

.data_input .input_data_email .input_email {
  width: 743px;
  height: 48px;
  margin-left: 12px;
  outline: none;
  cursor: pointer;
  text-decoration: unset;
  border: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 15.5px;
  line-height: 2.26;
  letter-spacing: 0.2px;
}

.data_input .input_data_message {
  width: 743px;
  height: 163px;
  background-color: #ffffff;
  margin-left: -17px;
  margin-bottom: 25px;
}

.data_input .input_data_message .input_message {
  width: 743px;
  height: 163px;
  margin-left: 12px;
  outline: none;
  cursor: pointer;
  text-decoration: unset;
  border: none;
  font-family: Poppins;
  font-weight: 300;
  font-size: 15.5px;
  line-height: 2.26;
  letter-spacing: 0.2px;
  vertical-align: text-top;
}

.data_input .button_send_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -17px;
  margin-top: 18px;
  background-color: #226be2;
  width: 158px;
  height: 45px;
  cursor: pointer;
}

.data_input .button_send_data .text_button_send_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-family: Poppins;
  font-size: 15.5px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.map {
  background-image: url("../img/map.gif");
  background-repeat: no-repeat;
  width: auto;
  height: 390.5px;
}

.end_block {
  width: auto;
  height: 270px;
  background-color: #13253b;
}

.end_block .content_end_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  padding-top: 127px;
}

.end_block .content_end_block .col-md-auto_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.31;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.end_block .content_end_block .links_social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  width: 469px;
  height: 29px;
  list-style: none;
  font-size: 27px;
}

.end_block .content_end_block .links_social_network li a {
  text-decoration: none;
  color: #ffffff;
}

.end_block .content_end_block .links_social_network li a:hover {
  color: #226be2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.carousel-indicators {
  padding-right: 34px;
}

.carousel-inner {
  display: inline-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 83px;
  margin: auto;
  width: 1170px;
  height: 645px;
}

.carousel_Height {
  height: 425px;
}

.carousel_Height .carousel-item {
  width: 1134px;
  height: auto;
  margin: auto;
}

.carousel-control-prev-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: none;
  width: 74px;
  height: 70px;
  content: url("../img/control-prev.gif");
}

.carousel-control-next-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: none;
  width: 74px;
  height: 70px;
  content: url("../img/control-next.gif");
}

.talk_clients {
  width: auto;
  height: 671px;
  margin-top: 105px;
  background-image: linear-gradient(250deg, #4085f6, #1760d7);
  margin-bottom: 90px;
}

.talk_clients .header_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
  margin-bottom: -30px;
  padding-top: 90px;
  width: 489px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  line-height: 0.75;
  text-align: center;
}

.carousel-control-prev-icon_clients {
  background-image: none;
}

.carousel-control-next-icon_clients {
  background-image: none;
}
/*# sourceMappingURL=main.css.map */